<div class="row">
  <div class="col-md-12">
    <div class="well-lg gallery">
      <div justifed-gallery>
        <a  ng-repeat="item in home.images" ng-click="home.goToDetail($index)"  repeat-done>
          <img alt="{{item.title}}" src="{{item.img}}">
        </a>
        <!-- <a title="Walk alone">
          <img src="images/images/pic2.jpg">
        </a>
        <a title="Natural Colors">
          <img src="images/images/pic3.jpg">
        </a>
        <a title="Cloudy day">
          <img src="images/images/pic4.jpg">
        </a>
        <a title="Volcano of cloud">
          <img src="images/images/pic5.jpg">
        </a>
        <a title="Bird in tree">
          <img src="images/images/pic6.jpg">
        </a>
        <a title="Moonar">
          <img src="images/images/pic7.jpg">
        </a>
        <a title="Dreams of Water">
          <img src="images/images/pic8.jpg">
        </a>
        <a title="Temple">
          <img src="images/images/pic9.jpg">
        </a>
        <a title="Temple">
          <img src="images/images/pic10.jpg">
        </a>
        <a title="Fruits">
          <img src="images/images/pic11.jpg">
        </a>
        <a title="Cycle race">
          <img src="images/images/pic12.jpg">
        </a>
        <a title="Cloudy dreams">
          <img src="images/images/pic13.jpg">
        </a> -->
      </div>
    </div>
    
  </div>
</div>
